@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'inter', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-rendering: auto;
}

.container{
    padding: 96px 0;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__landing{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

h1, h2, h3, h4, h5, h6, p{
    line-height: 1.25;
}

h2{
    font-size: 16px;
    letter-spacing: 2px;
}

h3{
    font-size: 48px;
    color:#243e63;
    font-weight: 900;
    margin-top: 16px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.text__purple{
    color: #6415FF
}

#landing{
height: 100vh;
}

::placeholder{
    color: rgba(0, 0, 0, 0.1);
    font-weight: 600;
}

button{
    
    color: #f7fafc;
    background-color:#6415FF;
    padding: 12px 32px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

button:active{
    transform: translateY(1px);
}

/*

BURGER MENU

*/

.btn__menu{
    background-color: transparent;
    text-align: center;
    font-size: 24px;
    border: none;
    color: #7342d6;
    display: none;
}

.menu__backdrop{
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease ;
    opacity: 0;
    visibility: hidden;
    margin: 24px;
    border: 1px solid #e2dddd;
    border-radius: 10px;
}

.menu--open .menu__backdrop{
    visibility: visible;
    opacity: 1;
}

.menu--open{
    max-height: 500px;
    overflow-y: hidden;
}

.menu__list{
    padding: 16px 0;
}

.menu__links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link{
    color: #020102;
    font-size: 18px;
    font-weight: 600;
    transition: all 300ms ease;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: transparent;
    text-decoration-thickness: 2px;
}

.menu__link:hover{
    color: #6415FF;
    text-decoration-color: #6415FF;
    
}

.menu__button{
    margin: 24px 0;
    transform: scale(1.25);
    transition: background-color 300ms ease;
}

.menu__button:hover{
    background-color:#5212d3;
}

.btn__menu--close{
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #6415FF;
}



/* 

NAV

*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0 0 0;
    padding-bottom: 140px;
}

.logo{

    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo__img{
    max-width: 40px;
    margin-right: 12px;
}

.logo__text{
    font-size: 24px;
    color: #243e63;
    font-weight: 900;
    max-width: 81px;
    letter-spacing: 0.75px;
}

.nav__links{
    display: flex; 
    position: relative;
    align-items: center;
}

.nav__link{
    font-size: 14px;
    font-weight: 600;
    margin: 0 24px;
    padding: 12px 0 3px 0;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: transparent;
    text-decoration-thickness: 2px;
    transition: all 300ms ease;
}

.nav__link:nth-last-child(2){
    margin-left: 60px;
    margin-right: 0px;
}

.nav__link--text{
    color: #243e63;
    transition: all 300ms ease;
}

.nav__link--text:hover{
    color: #6415FF;
}

.nav__button{
    transition: background-color 300ms ease;
}

.nav__button:hover{
    background-color:#5212d3;
}

.nav__link:hover:not(:last-child){
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #6415FF;
    text-underline-offset: 6px;
    
}

/*

LANDING

*/

.landing__intro{
    width: 40%;
}

.landing__title{
    font-size: 48px;
    color: #1a202c;
}

.landing__para{
    color: #243e63;
    font-size: 18px;
    margin: 32px 0;
}

.landing__email-input{
    position: relative;
    width: 90%;
}

.email__input{
    padding: 20px 192px 20px 32px;
    width: 100%;
    border-radius: 50px;
    font-size: 16px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    transition: all 350ms ease;
}

.email__input:hover{
    border: 3px solid rgba(0, 0, 0, 0.5);
}

.email__input:focus{
    border: 3px solid rgba(100, 21, 255, 1);
    transition: all 350ms ease;
    outline: none;
}

.landing__email-input--button{
    color: #f7fafc;
    position: absolute;
    right: 7px;
    top: 7px;
    background: #6415FF;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 300ms ease;
    width: 100%;
    max-width: 142px;
}

.landing__email-input--button:hover{
    background: #5212d3;
}

.customers__title{
    margin-top: 80px;
    font-size: 12px;
    font-weight: bold;
    color: #a0aec0;
}

.customers__img{
    margin-top: 16px;
    padding-right: 128px;
    left: 0;
    max-width: 533.33px;
    opacity: 0.5;
}

.landing__img--wrapper{
    width: 60%;
}

.landing__img{
    width: 100%;
}

/*

FEATURES

*/

.features__intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__intro--title{
    margin-bottom: 16px;
}

.features__intro--heading{
    padding-bottom: 8px;
}

.features__intro--para{
    font-size: 18px;
    color: #7c8ba1;
    font-weight: 500;
    margin-top: 16px;
    line-height: 1.5;
}

.feature__title{
    font-size: 24px;
}

.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.feature{
    display: flex;
    width: 30%;
    padding: 32px 8px;
    margin: 0 16px;
}

.feature__img--wrapper{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 50%;
    max-height: 66px;
}

.feature__text{
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 18px;
    font-weight: 500;
    
}

.feature__para{
    padding: 16px 0 0 0;
    line-height: 2;
    color: #7c8ba1;
}

/*

QUALITY

*/

#quality{
    padding: 96px 0;
}

.quality__dots{
    max-width: 100px;
    fill: #5c15e9;
    transform: translateX(1170px) translateY(155px);
}

.quality__row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quality__intro{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    padding: 32px 0;
}

.quality__intro--heading{
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    letter-spacing: 1px;
}

.quality__intro--para{
    color: #7c8ba1;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 500;
    margin-top: 16px;
}

.quality__button{
margin-top: 32px;
transition: background-color 300ms ease;
max-width: 142px;
}

.quality__button:hover{
    background: #5212d3;
}

.quality__img--wrapper{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.quality__img{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 40px;
}

/*

STEPS

*/

#steps{
    padding: 96px 0;
}

.steps__row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__img--wrapper{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.steps__dots{
    max-width: 150px;
    fill: #a087d1;
    transform: translateX(325px) translateY(130px);
}

.laptop__img{
    width: 100%;
}

.steps__intro{
    width: 50%;
    padding: 32px 0;
    margin-left: 60px;
}

.steps__list{
    display: flex;
    flex-direction: column;
}

.step{
    display: flex;
    width: 60%;
    padding-top: 32px;
}

.step__number{
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
}

.step__info{
    padding-left: 24px;
}

.step__title{
    font-size: 20px;
    font-weight: 600;
    color: #243e63;
}

.step__para{
    font-size: 14px;
    color: #718096;
    padding-top: 12px;
    line-height: 2;
}

/*

VALUES

*/

#values{
    padding: 96px 0;
}

.values__row{
    display: flex;
}

.values__intro{
    width: 50%;
    padding: 32px 0;
    margin-right: 60px;
}

.values__para{
    margin-top: 32px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.5;
}

.values__list{
    display: flex;
}

.value{
    margin: 32px 32px 0 0;
}

.value__top{
    display: flex;
    align-items: center;
}

.fa-dollar-sign{
    display: flex;
    justify-content: center;
    padding: 8px;
    font-size: 20px;
    color: green;
    background: #9ae6b4;
    border-radius: 50%;
    width: 36px;
}

.fa-suitcase{
    display: flex;
    justify-content: center;
    padding: 8px;
    font-size: 20px;
    color: maroon;
    background: #feb2b2;
    border-radius: 50%;
    width: 36px;
}

.value__title{
    margin-left: 12px;
    font-size: 20px;
    font-weight: 700;
    color: #243e63;
}

.value__para{
    margin-top: 16px;
    color: #718096;
    line-height: 1.6;
}

.values__button{
    margin-top: 48px;
}

.values__img--wrapper{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.values__img{
    width: 100%;
}

/*

PRICING

*/

#pricing{
    margin: 0 auto;
    padding: 96px 0;
}

.pricing__intro{
    text-align: center;
}

.pricing__para{
    margin-top: 16px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.5;
}

.plans{
    display: flex;
    justify-content: center;
    width: 100%;
}

.plan{
    width: calc(100%/3);
    margin: 64px 32px 0 0;
    padding: 8px 32px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.plan__personal--banner{
    position: absolute;
    height: 8px;
    top: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__business{
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}
.plan__enterprise--banner{
    position: absolute;
    height: 8px;
    top: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__top{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px 0;
}

.plan__title{
    color: #1a202c;
    font-size: 20px;
    font-weight: bold;
}

.plan__price{
    color: #1a202c;
    font-size: 48px;
    font-weight: bold;
    margin: 4px 0;
}

.plan__duration{
    color: #a0aec0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.plan__middle{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px;
    border-top: 2px solid rgb(226, 232, 240);
    border-bottom: 2px solid rgb(226, 232, 240);
    margin-left: -32px;
    margin-right: -32px;
}

.plan__middle--business{
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan__target{
    color: #1a202c;
    font-size: 20px;
    font-weight: 700;
}

.plan__feature{
    color: #718096;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

.text__white{
    color: #f7fafc;
}

.plan__bottom{
    padding: 32px 64px;
}

.button__personal{
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    transition: all 400ms ease;
}

.button__business{
    background: #f7fafc;
    color: #6415FF;
    transition: all 400ms ease;
}

.button__business:hover{
    background: rgb(220, 220, 220);
}

.button__enterprise{
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    transition: all 400ms ease;
}

.button__pricing:hover{
    transform: translateY(-1px) translateX(1px);
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);

}


.plan__bottom{
    display: flex;
    justify-content: center;
}


/*

TESTIMONIALS

*/

#testimonials{
    padding: 96px 0;
}

.test__row{
    display: flex;
}

.test__img--wrapper{
    width: 50%;
}

.test__img{
    width: 100%;
}

.test__intro{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.test__para{
    color: #7c8ba1;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}

.test__review{
    margin-top: 40px;
}

.test__stars{
    color: orange;
}

.fa-star{
    margin-right: 2px;
}

.review__heading{
    color: #243e63;
    font-size: 20px;
    margin-top: 16px;
}

.review__para{
    color: #4a5568;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    margin: 16px 8px 40px 0;
}

.profile{
    display: flex;
    justify-content: space-between;
}

.profile__img{
    max-width: 80px;
    border-radius: 50%;
}

.profile__info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__text{
    margin-left: 24px;
}

.profile__name{
    color: #243e63;
    font-size: 20px;
}

.profile__title{
    color: #7c8ba1;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
}

.test__arrows{
    display: flex;
    justify-content: center;
    align-items: center;
}

.test__button{
    background-color: #edf2f7;
    padding: 16px;
    margin: 0 12px;
    border-radius: 50%;

    
}

.fa-arrow-right, .fa-arrow-left{
    color: #6415FF;
    width: 16px;
    height: 16px;
}

.divider{
    border: 1px  solid rgb(226, 232, 240);
    border-width: 1px;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 24px
}

/*

BANNER

*/

#banner{
    padding: 96px 0;
}

.banner__row{
    display: flex;
}

.banner{
    width: 100%;
    background-color: rgb(100, 21, 255);
    padding: 96px 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.banner__info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner__text{
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    max-width: 40%;
    line-height: 1.5;
    z-index: 1;
}

.banner__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    margin-right: 48px;
}

.banner__button--start{
    background-color: #f56565;
    font-size: 16px;
    padding: 20px 40px;
    margin-right: 24px;
    transition: all 250ms ease;
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.2);
}

.banner__button--start:hover{
    background-color:#e44545
}

.banner__button--contact{
    border: 0.5px solid #f7fafc;
    font-size: 16px;
    padding: 20px 40px;
    transition: all 250ms ease;
}

.banner__button--contact:hover{
    color: rgb(100, 21, 255);
    background-color: #f7fafc;
}

.circle{
    color: #450fb1;
    opacity: 0.5;
    position: absolute;
    width: 320px;
    
}

.circle__left{
    transform: translateX(-550px) translateY(100px);
}

.circle__right{
    transform: translateX(500px) translateY(-200px)
}

/*

FOOTER

*/

#footer{
    width: 100%;
    background-color: #6415FF;
    padding: 96px 0;
    position: relative;
    overflow: hidden;
}

.circle__left--footer{
    transform: translateX(-90px) translateY(-250px);
}

.circle__right--footer{
    transform: translateX(1700px) translateY(250px);
}

.footer__links{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    align-items: center;
    border-bottom: 2px solid #794ecf;
}

.link__column{
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    align-items: center;
    
}

.link__heading{
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 16px;
}

.footer__link{
    color: #f7fafc;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 0;
    text-decoration: underline;
    text-decoration-color: transparent;
    
}

.footer__link:hover{
    text-decoration-color: #f7fafc;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
    transition: all 300ms ease-in-out;
}

.footer__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
}

.footer__info--logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo{
    max-width: 32px;
}

.footer__logo--text{
    color: #f7fafc;
    font-size: 20px;
    font-weight: 900;
    padding-left: 8px;
    letter-spacing: 1.5px;
}

.copyright{
    color: #a0a3a5;
    font-weight: 500;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__social--link{
    color: #061016;
    padding: 8px;
    margin-right: 16px;
    background: #f7fafc;
    border-radius: 50%;
    transition: all 250ms ease;
}

.fab{
    width: 16px;
    display: flex;
    justify-content: center;
}

.footer__social--link:hover{
    background-color: #9ca2ad;
}



/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */ 



@media (max-width: 768px){

    nav{
        padding: 24px;
    }

    .nav__links{
        display: none;
    }

    .btn__menu{
        display: block;
    }

    .row__landing{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .landing__title{
        font-size: 32px;
    }

    .landing__para{
        font-size: 16px;
        padding: 16px 40px;
        text-align: center;
    }
    
    .landing__intro{
        width: 90%;
        text-align: center;
    }

    .landing__email-input{
        display: flex;
        margin: 0 auto;
        max-width: 60%;
    }

    .customers__img{
        padding: 0;
    }

    .landing__img--wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
    }

    .landing__img{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .features__intro--heading{
        font-size: 32px;
    }

    .features__intro--para{
        font-size: 16px;
    }

    .feature{
        width: calc(100%/2.5);
    }

    .quality__row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quality__intro{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .quality__intro--title{
        text-align: center;
    }

    .quality__intro--heading{
        font-size: 32px;
        text-align: center;
    }

    .quality__intro--para{
        text-align: center;
        font-size: 16px;
    }

    .quality__img--wrapper{
        width: 80%;
    }

    .quality__img{
        margin: 0 auto;
    }

    .quality__dots{
        transform: translateX(290px) translateY(776px);
    }

    .steps__row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .steps__img--wrapper{
        transform: scale(1.5);
    }

    .steps__dots{
        transform: translateY(340px) translateX(5px) scale(0.6)
    }

    .steps__intro{
        padding-top: 120px;
        text-align: center;
        margin: 0 auto;
    }

    .steps__heading{
        font-size: 30px;
    }

    .steps__list{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .step{
        display: flex;
        flex-direction: column;
    }

    .step__info{
        padding: 16px 0;
    }

    .values__row{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .values__intro{
        text-align: center;
        margin: 0;
    }

    .values__list{
        display: flex;
        flex-direction: column;
    }

    .value{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 24px 0 0 0;
    }

    .values__intro--heading{
        font-size: 30px;
    }

    .pricing__heading{
        font-size: 30px;
    }

    .values__para{
        font-size: 16px;
    }

    #pricing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pricing__para{
        font-size: 16px;
    }

    .plans{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .plan{
        width: 50%;
        margin: 24px 0;
    }

    .test__row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .test__intro{
        padding: 0;
        text-align: center;
    }

    .test__heading{
        font-size: 30px;
        padding-bottom: 16px;
    }

    .test__para{
        font-size: 16px;
    }

    .banner__row{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner{
        max-width: 90%;
        max-height: 90%;
    }

    .banner__info{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .banner__text{
        max-width: 90%;
        font-size: 28px;
        padding-bottom: 16px;
    }

    .banner__buttons{
        margin: 0;
    }

    .banner__button--start{
        padding: 16px 24px;
    }

    .banner__button--contact{
        padding: 16px 24px;
    }

    .circle__left{
        transform: translateX(-270px) translateY(180px)
    }

    .circle__right{
        transform: translateX(270px) translateY(-230px)
    }

    .link__column{
        z-index: 1;
    }
}



/*  SMARTPHONES */



@media (max-width: 576px){

    .container{
        padding: 30px 0;
    }

    #quality{
        padding: 30px 0;
    }

    #steps{
        padding: 30px 0;
    }

    #values{
        padding: 30px 0;
    }

    #pricing{
        padding: 30px 0;
    }

    #testimonials{
        padding: 30px 0;
    }

    .landing__email-input{
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .landing__email-input--button{
        position: relative;
        max-width: 100%;
        transform: translateX(5px);
    }
    
    .customers__img{
        max-width: 80%;
    }

    .features__intro{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 24px;
    }

    .features__intro--heading{
        text-align: center;
    }

    .features__intro--para{
        text-align: center;
    }

    .features{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feature{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        text-align: center;
    }

    .feature__img--wrapper{
        display: flex;
        transform: translateX(10px);
    }

    .quality__row{
        display: flex;
        flex-direction: column-reverse;
    }

    .quality__intro{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        flex-wrap: none;
    }

    .quality__img{
        margin: 0 auto;
    }

    .quality__dots{
        transform: translateX(210px) translateY(-453px) scale(0.7);
    }

    .steps__row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .steps__img--wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .laptop__img{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .steps__dots{
        transform: translateY(275px) scale(0.6);
    }

    .steps__intro{
        margin: 0 auto;
    }

    .values__row{
        display: flex;
    }

    .footer__info{
        margin: 0 16px;
    }

    .copyright{
        text-align: center;
    }
}