@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
    font-family: 'inter', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.text__white{
    color: white;
}

.text__purple{
    color: #6415FF
}

#landing{
height: 100vh;
}

button:active{
    transform: translateY(1px);
}


/* 

NAV

*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0 0 0;
    padding-bottom: 140px;
}

.logo{

    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo__img{
    max-width: 40px;
    margin: 0 12px 0 0;
}

.logo__text{
    font-size: 24px;
    color: #243e63;
    font-weight: bold;
}

.nav__links{
    display: flex; 
    position: relative;
}

.nav__link{
    font-size: 14px;
    font-weight: 600;
    margin: 0 24px;
    padding: 12px 0 3px 0;
    text-decoration-color: rgba(0, 0, 0, 0)
}

.nav__link:nth-last-child(2){
    margin-left: 60px;
    margin-right: 0px;
}

.nav__link--text{
    color: #243e63;
}

.nav__link--text:hover:not(:last-child){
    color:#6415FF;
}

.nav__link--purple{
    background: #6415FF;
    border-radius: 20px;
    color: white;
    padding: 12px 32px;
    transition: all 300ms ease;
}

.nav__link--purple:hover{
    background: #5212d3;
}

.nav__link:hover:not(:last-child){
    color:#6415FF;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #6415FF;
    text-underline-offset: 6px;
    transition: all 300ms ease;
}

/*

LANDING

*/

.landing{
    width: 40%;
}

.landing__title{
    font-size: 48px;
}

.landing__para{
    color: #243e63;
    font-size: 18px;
    margin: 32px 0;
}

.landing__email-input{
    position: relative;
}

.email__input{
    padding: 20px 192px 20px 32px;
    width: 100%;
    border-radius: 50px;
    font-size: 16px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    transition: all 350ms ease;
}

.email__input:hover{
    border: 3px solid rgba(0, 0, 0, 0.5);
}

.email__input:focus{
    border: 3px solid rgba(100, 21, 255, 1);
    transition: all 350ms ease;
    outline: none;
}

.landing__email-input--button{
    position: absolute;
    right: 7px;
    top: 7px;
    background: #6415FF;
    border-radius: 50px;
    font-size: 16px;
    padding: 16px;
    border: none;
}

.customers__title{
    margin-top: 80px;
    font-size: 12px;
    font-weight: bold;
    color: #a0aec0;
}

.customers__img{
    margin-top: 16px;
    padding-right: 128px;
    left: 0;
    max-width: 533.33px;
}
