@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'inter', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-rendering: auto;
}

.container{
    padding: 80px 0;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__landing{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

h1, h2, h3, h4, h5, h6, p{
    line-height: 1.25;
    color:#243e63;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.text__white{
    color: white;
}

.text__purple{
    color: #6415FF
}

#landing{
height: 100vh;
}

button{
    max-width: 142px;
    color: #f7fafc;
    background-color:#6415FF;
    padding: 12px 32px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

button:active{
    transform: translateY(1px);
}



/* 

NAV

*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0 0 0;
    padding-bottom: 140px;
}

.logo{

    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo__img{
    max-width: 40px;
    margin-right: 12px;
}

.logo__text{
    font-size: 24px;
    color: #243e63;
    font-weight: 900;
    max-width: 81px;
    letter-spacing: 0.75px;
}

.nav__links{
    display: flex; 
    position: relative;
}

.nav__link{
    font-size: 14px;
    font-weight: 600;
    margin: 0 24px;
    padding: 12px 0 3px 0;
    text-decoration-color: rgba(0, 0, 0, 0);
}

.nav__link:nth-last-child(2){
    margin-left: 60px;
    margin-right: 0px;
}

.nav__link--text{
    color: #243e63;
}

.nav__link--text:hover:not(:last-child){
    color:#6415FF;
}

.nav__link--purple{
    background: #6415FF;
    border-radius: 20px;
    color: white;
    padding: 12px 32px;
    transition: all 300ms ease;
}

.nav__link--purple:hover{
    background: #5212d3;
}

.nav__link:hover:not(:last-child){
    color:#6415FF;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #6415FF;
    text-underline-offset: 6px;
    transition: all 300ms ease-in-out;
}

/*

LANDING

*/

.landing__intro{
    width: 40%;
}

.landing__title{
    font-size: 48px;
    color: #1a202c;
    text-shadow: black 2px 2px 2px 2px;
}

.landing__para{
    color: #243e63;
    font-size: 18px;
    margin: 32px 0;
}

.landing__email-input{
    position: relative;
}

.email__input{
    padding: 20px 192px 20px 32px;
    width: 100%;
    border-radius: 50px;
    font-size: 16px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    transition: all 350ms ease;
}

.email__input:hover{
    border: 3px solid rgba(0, 0, 0, 0.5);
}

.email__input:focus{
    border: 3px solid rgba(100, 21, 255, 1);
    transition: all 350ms ease;
    outline: none;
}

.landing__email-input--button{
    color: #f7fafc;
    position: absolute;
    right: 7px;
    top: 7px;
    background: #6415FF;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
    border: none;
    cursor: pointer;
}

.customers__title{
    margin-top: 80px;
    font-size: 12px;
    font-weight: bold;
    color: #a0aec0;
}

.customers__img{
    margin-top: 16px;
    padding-right: 128px;
    left: 0;
    max-width: 533.33px;
    opacity: 0.5;
}

.landing__img--wrapper{
    width: 60%;
}

.landing__img{
    width: 100%;
}

/*

FEATURES

*/

.quality__row{
    display: flex;
}

.features__intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__intro--title{
    font-size: 16px;
    letter-spacing: 1.5px;
    margin-bottom: 16px;
}

.features__intro--heading{
    font-size: 48px;
    color:#243e63;
    font-weight: 900;
    padding-bottom: 8px;
}

.features__intro--para{
    font-size: 18px;
    color: #7c8ba1;
    font-weight: 500;
    margin-top: 16px;
    line-height: 1.5;
}

.feature__title{
    font-size: 24px;
}

.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}



.feature{
    display: flex;
    width: 30%;
    padding: 32px 8px;
    margin: 0 16px;
}

.feature__img--wrapper{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 50%;
    max-height: 66px;
}

.feature__text{
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 18px;
    font-weight: 500;
    
}

.feature__para{
    padding: 16px 0 0 0;
    line-height: 2;
    color: #7c8ba1;
}

/*

QUALITY

*/

.quality{
    padding: 80px 0;
}

.quality__intro{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 16px;
}

.quality__intro--title{
    font-size: 16px;
    letter-spacing: 2px;
}

.quality__intro--heading{
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    letter-spacing: 1px;
}

.quality__intro--para{
    color: #7c8ba1;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 500;
    margin-top: 16px;
}

.quality__button{
margin-top: 32px;
transition: all 300ms ease;
}

.quality__button:hover{
    background: #5212d3;
}

.quality__img--wrapper{
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.quality__img{
    width: 100%;
}